<!DOCTYPE html>
{%extends 'base.html' %}
{% load static %}
{% block content %}
<div>
   <form method="POST">
  {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">cholesterol</label>
  <input type="text" name='c' class="form-control" placeholder="enter cholesterol  level here">
</div>
<div class="mb-3">
  <label  class="form-label"> Sugar</label>
  <input type="text" name="s" class="form-control" placeholder="enter Sugar level here">
</div>
<div class="mb-3">
  <label  class="form-label">Blood  pressure</label>
  <input type="text" name="b" class="form-control" placeholder="enter Blood  pressure level here">
</div>
<div class="mb-3">
  <label  class="form-label">Doctor</label>
  <input type="text" name="d" class="form-control" placeholder="enter doctor name here">
</div>
    <input type="submit" >
</form>
</div>
<br><br><br>
{% endblock %}